
#h{
  margin-bottom:0px;
}
#a{
background-color:black;
color:white;
font-size: 20px;
}
h4{
text-align:center;
color: white;
}
h1{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 50px;
background-color: rgb(10,10,10);
    border-color:white;
    width:100%;
	margin-bottom:5px;

}
body{
background-color: black;
}
.white-text{
color:white;
}
#btn{
    background-color: rgb(32,32,32);
    border-color:white;
    width:100%;
    border:none;
    height:40px;
    color: white;
font-size: 20px;
margin-top: 0px;
margin-bottom:5px;
}
#myInput{
background-color: white;
    border-color:white;
    width:100%;
    border:none;
    height:40px;
    color: black;
font-size: 20px;
text-align: center;
margin-bottom: 5px;
}
tr:nth-child(even){
color:white;
}

